<button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
