@{
  Layout = "_Layout";
}

@section NavigationLinks
{
  <li><a class="nav-link px-2 text-white" asp-controller="Wall" asp-action="Saved">Saved</a></li>
}

<!--Insert Wall Layout Content Here -->

@RenderBody()
