<li><a class="nav-link px-2 text-white" asp-controller="Factory" asp-action="MyArticles">My Articles</a></li>
<li><a class="nav-link px-2 text-white" asp-controller="Factory" asp-action="NewArticle">New Article</a></li>
